.sort-container-inp-mui {
  width: 100%;
  display: flex;
  align-items: center;

  .label-sort{
    width: 260px;
    text-align: center;
    margin-right: 2%;
    font-size: 1.3rem;
  }

  .sort-inp-mui {
    width: 80%;
    background-color: white;
    border-radius: 4px;

    div {
      height: 50px;
    }

    .select {
      font-size: 1.3rem;
      line-height: 50px;
    }
  }
}