.main-container-sort-filter {
  display: flex;
  width: 100%;
  background-color: #C5E9FF;
  justify-content: center;
  align-items: center;
  height: 100px;

  .secondary-container-sort-filter {
    display: flex;
    justify-content: flex-end;
    width: 92%;
    background-color: #C5E9FF;

    .container-sort-filter {
      display: flex;
      justify-content: flex-end;
      margin-right: 1%;
      width: 30%;
    }

    .container-add-filter {
      display: flex;
      align-items: center;
      justify-content: flex-end;
      width: 28%;

      .text-filter-button {
        font-size: 1.3rem;
        margin-right: 3%;
      }

      .img-filter-button {
        display: flex;
        cursor: pointer;
      }
    }
  }
}
