.body-registrated-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #C5E9FF;
    height: 650px;
    align-items: center;
  
    .main-logo {
      display: flex;
      justify-content: center;
      width: 50%;
  
      img {
        width: 60%;
      }
    }
  
    .container-registrated-field{
      width: 50%;
      display: flex;
      justify-content: center;
  
      .registrated-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 600px;
        background-color: white;
  
        .name-registrated {
          font-size: 3rem;
        }
      }
  
        form {
          display: flex;
          flex-direction: column;
          width: 70%;
          
          .login-label-text {
            font-size: 1.5rem;
            margin-bottom: 2%;
          }
  
          .login-inp {
            width: 93%;
            height: 45px;
            padding-left: 6%;
            font-size: 25px;
            border-radius: 5px;
            opacity: 0.4;
          }

          .password-inp:valid {
              border-color: green;
          }

          .password-label-text {
            font-size: 1.5rem;
            margin-bottom: 2%;
            margin-top: 2%;
          }

          .password-inp, .repeat-password-inp {
            width: 93%;
            height: 45px;
            padding-left: 6%;
            font-size: 25px;
            border-radius: 5px;
            opacity: 0.4;
          }

          .container-button-enter {
            width: 70%;
            height: 70px;
            display: flex;
            justify-content: flex-end;
            align-self: flex-end;

            .button-enter {
                border: 1px solid RGB(0, 0, 0, 0.4);
                width: 85%;
                height: 45px;
                border-radius: 5px;
                text-align: center;
                line-height: 45px;
                align-self: flex-end;
                font-size: 1.5rem;
                cursor: pointer;
                background-color: rgb(252, 252, 252);
            }
          }
      
          .container-button-registration {
            display: flex;
            width: 70%;
            justify-content: flex-end;
            align-self: flex-end;
      
            .button-registration {
              margin-top: 5%;
              align-self: flex-end;
              font-size: 1.5rem;
              cursor: pointer;
            }
          }
        }
    }
}

@media screen and (min-width: 1000px) and (max-width: 1500px) {
  .body-registrated-container {
    .main-logo {
      display: flex;
      justify-content: center;
      width: 35%;

      img {
        width: 70%;
      }
    }

    .container-registrated-field {
      width: 80%;
      display: flex;
      justify-content: center;
    }
  }
    
}

@media screen and (min-width: 400px) and (max-width: 1000px) {
  .body-registrated-container {
    height: 550px;

    .main-logo {
      display: none;
    }

    .container-registrated-field {
      width: 100%;
      display: flex;
      justify-content: center;

      .registrated-field {
        height: 520px;
      
        .name-registrated {
          font-size: 2.5rem;
        }
      }
    } 

    .container-registrated-field {
      width: 100%;
      display: flex;
      justify-content: center;

      form {
        .container-button-enter {
          width: 100%;
          height: 70px;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;
        
          .button-enter {
              border: 1px solid RGB(0, 0, 0, 0.4);
              width: 100%;
              height: 45px;
              border-radius: 5px;
              text-align: center;
              line-height: 45px;
              align-self: flex-end;
              font-size: 1.5rem;
              cursor: pointer;
              background-color: rgb(252, 252, 252);
          }
        }
      }
    }
  }
    
}

@media screen and (max-width: 420px) {
  .body-registrated-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #C5E9FF;
    height: 450px;
    align-items: center;

    .main-logo {
      display: none;
    }

    .container-registrated-field {
      width: 100%;
      display: flex;
      justify-content: center;

      .registrated-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 80%;
        height: 400px;
        background-color: white;
      
        .name-registrated {
          font-size: 2rem;
        }
      }

      form {
        .login-label-text {
          font-size: 1.1rem;
          margin-bottom: 2%;
        }

        input {
          height: 10px;
        }

        .password-label-text, .password-label-text {
          font-size: 1.1rem;
        }

        .login-inp, .password-inp, .repeat-password-inp {
          height: 30px;
          font-size: 1.1rem;
        }

        .container-button-enter {
          width: 100%;
          height: 70px;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;
        
          .button-enter {
              border: 1px solid RGB(0, 0, 0, 0.4);
              width: 100%;
              height: 45px;
              border-radius: 5px;
              text-align: center;
              line-height: 45px;
              align-self: flex-end;
              font-size: 1.1rem;
              cursor: pointer;
              background-color: rgb(252, 252, 252);
          }
        }
        .container-button-registration {
          display: flex;
          width: 80%;
          justify-content: center;
          align-self: center;
    
          .button-registration{
            font-size: 1.2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
    
}

@media screen and (max-width: 320px) {
  .body-registrated-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    background-color: #C5E9FF;
    height: 450px;
    align-items: center;

    .main-logo {
      display: none;
    }

    .container-registrated-field {
      width: 100%;
      display: flex;
      justify-content: center;

      .registrated-field {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        width: 90%;
        height: 400px;
        background-color: white;
      
        .name-registrated {
          font-size: 1.3rem;
        }
      }

      form {
        .login-label-text {
          font-size: 1.1rem;
          margin-bottom: 2%;
        }

        input {
          height: 10px;
        }

        .password-label-text, .password-label-text {
          font-size: 1.1rem;
        }

        .login-inp, .password-inp, .repeat-password-inp {
          height: 30px;
          font-size: 1.1rem;
        }

        .container-button-enter {
          width: 100%;
          height: 70px;
          display: flex;
          justify-content: flex-end;
          align-self: flex-end;
        
          .button-enter {
              border: 1px solid RGB(0, 0, 0, 0.4);
              width: 100%;
              height: 45px;
              border-radius: 5px;
              text-align: center;
              line-height: 45px;
              align-self: flex-end;
              font-size: 1.1rem;
              cursor: pointer;
              background-color: rgb(252, 252, 252);
          }
        }
        .container-button-registration {
          display: flex;
          width: 80%;
          justify-content: center;
          align-self: center;
    
          .button-registration {
            font-size: 1.2rem;
            cursor: pointer;
          }
        }
      }
    }
  }
}